* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #333;
    color: #fafafa;

}

img {
    cursor: pointer;
}

.container-bg-headers {
    height: 600px;
    margin-bottom: 90px;
}

.container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.container button {
    display: flex;
}

.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin-bottom: 130px;
}

.bg-home-list {
    display: flex;
    justify-content: center;
}

.nav-bar ul {
    display: flex;
    gap: 10px;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid #fff;
}

.box-review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 10px;
}

.box-review div {
    width: 500px;
}

.box-review div h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.box-review div p {
    margin-bottom: 20px;
}

.box-review div button {
    border-color: transparent;
    padding: 5px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.box-review div button:hover {
    background-color: tomato;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #fff;
}

.opacityImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    opacity: 0.5;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-bg {
    width: 15%;
    border-radius: 15px;

}

.tex-movie {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(116, 116, 116);
}

.btn-more {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 2px 15px;
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn-more:hover {
    background-color: tomato;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #fff;
}